/* || RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* || GENERAL STYLES */

/* setting layout*/
main {
  width: 500px;
  height: 500px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
/* img control*/
img {
  max-width: 100%;
  max-height: auto;
}

/* || Specific STYLES */
#grid-item1 {
  grid-row: 1/4;
  grid-column: 1/4;
}

#grid-item2 {
  grid-row: 2/3;
  grid-column: 3/4;
  margin-right: 5px;
}

#grid-item3 {
  grid-row: 2/3;
  grid-column: 3/4;
  align-self: end;
  justify-self: center;
}

.button {
  height: 45px;
  width: 125px;
  margin: 4px 3px;
  background-color: orangered;
  border-radius: 5px;
  color: aliceblue;
  font-size: 20px;
  font-family: monospace;
  font-style: bold;
}
